* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(0deg 0% 86.92%);
}

.card {
  width: 580px;
  padding: 30px;
  border-radius: 20px;
  background-color: #ffffff;
  border-bottom-right-radius: 100px;
}

.card_input {
  display: flex;
  column-gap: 20px;
}

.input {
  display: grid;
  row-gap: 5px;
}

input {
  width: 120px;
  height: 50px;
  border-radius: 6px;
  font-size: 20px;
  border: none;
  border: 1px solid #f0f0f0;
  padding: 0 10px;
  color: rgb(0, 255, 0);
}

.text {
  font-weight: 800;
  font-style: italic;
  font-size: 50px;
}

.number {
  font-weight: 800;
  font-style: italic;
  font-size: 50px;
  color: #854cff;
}

.btn {
  width: 55px;
  height: 55px;
  padding: 10px;
  border-radius: 50%;
  background-color: #854cff;
  border: none;
}

.card_btn {
  height: 30px;
  margin-bottom: 40px;
  border-bottom: 2px solid #f0f0f0;
  text-align: right;
  padding-right: 30px;
}

.btn img {
  max-width: 100%;
}

.card_text {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
